* {
  margin: 0;
  padding: 0;
}
.a{
  display: flex;
}
.a h1{
  width:50px;
}
.container {
  width: 100%;
  height: 100vh;
   padding: 200px 0; 
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.card {
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
  width: 300px;
  padding-top: 10px;
}
.warpper {
  padding-top: 300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
}
.warpper:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.warpper:hover .card_img {
  height: 350px;
}
.card_img {
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  position:absolute;
  bottom: calc(100% - 300px);
  width: 100%;
  height: 400px;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
  margin-top:20px;
}
.cardInfo {
  display: block;
  padding: 20px 10px 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
  color: #666;
}
.cardInfo h1 {
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 10px;
  color:#000;
  width:279px;
  color: red;
  margin-top: 2px;
}
.cardInfo p {
  width: 100%;
  font-size: 14px;
  text-align: center;
}
.a h4{
  border: 1px solid red;
  text-align: center;
  width:137px;
}
.action {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 15px;
}
.priceGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.priceGroup .price {
  font-size: 18px;
  color: #000;
  text-align: left;
}
.priceGroup .price.old_price {
  color: red;
  font-size: 15px;
  text-decoration: line-through;
  text-align: left;
}
.priceGroup .price.newPrice {
  color: #000;
  font-size: 25px;
  font-weight: 800;
}
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 35px;
  height: 35px;
}
.cart:hover {
  cursor: pointer;
}
.z{
  background-color: rgb(95, 4, 95);
  color:white;
  border-radius:5px;
  padding: 10px;
  
}